<h1 class="lead">Cart</h1>
<div class="table-responsive" ng-if="cart.developers.length !== 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Username</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="developer in cart.developers">
        <td><img src="{{developer.photo}}" height="48" alt="@{{developer.username}}" title="{{developer.username}}'s photo" class="img-rounded"></td>
        <td><a href="https://github.com/{{developer.username}}">{{developer.username}}</a></td>
        <td>${{developer.price * developer.hours}} (${{developer.price}} x {{developer.hours}}h)</td>
        <td><button type="button" class="btn btn-danger pull-right" ng-click="cart.remove(developer)">Remove</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td></td>
        <td>${{cart.total}} <span ng-show="cart.redeemed">(with 10% discount)</span></td>
        <td>
          <input type="text" placeholder="Discount voucher" ng-model="cart.voucher" ng-model-options="{ debounce: 150 }">
          <button type="button" ng-click="cart.validateVoucher()" class="btn btn-success btn-xs" ng-hide="cart.redeemed">Redeem</button>
          <button type="button" ng-click="cart.removeVoucher()" class="btn btn-default btn-xs" ng-show="cart.redeemed">Remove</button>
        </td>
        <td><a href="/checkout" class="btn btn-primary btn-lg pull-right" ng-click="cart.checkout()">Proceed to Checkout</button></td>
      </tr>
    </tfoot>
  </table>
</div>

<div ng-if="cart.developers.length === 0" class="text-center">
  <span>Your cart is empty</span>
</div>

<a href="/home" class="btn btn-default pull-left top-offset-20 bottom-offset-20">Continue shopping</a>
