



<div class="top-offset-20" ng-if="shop.developers.length === 0">
  <div>No developers found. Try changing your filter or add by name: </div>
  <form class="form-inline" ng-submit="shop.addFromInput()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="GitHub Username" ng-model="shop.username" ng-model-options="{ debounce: 250 }">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Price" ng-model="shop.price" ng-model-options="{ debounce: 150 }">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Hours" ng-model="shop.hours" ng-model-options="{ debounce: 150 }">
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>

<a href="/my_cart" class="btn btn-primary btn-lg pull-right top-offset-20 bottom-offset-20" ng-click="shop.processOrder()">Go to cart</a>
